.weather__item {
    margin: 0 15px 50px 0;
    min-width: 250px;
    max-width: 250px;
    background-color: #38393b;
    color: #D8D8DA;
    border-radius: 10px;
    padding: 15px 0 0 0;
    border: 1px solid #000;
}

.weather__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 7px;
}

.weather__top-location img {
    height: 15px;
}

.weather__top-location {
    font-weight: 700;
    align-items: center;
    display: flex;
    margin-bottom: 5px;

}

.weather__top-temper {
    display: flex;

}

.weather__top-mintemper {
    margin: 0 20px;
    text-align: center;

}

.weather__top-maxtemper {
    text-align: center;

}

.weather__top-mintemper span,
.weather__top-maxtemper span {
    font-size: 29px;
    display: inline-block;
    margin-top: -5px;
    color: #fff;

}

.weather__top-img img {
    width: 60px;
}

.weather__character {
    padding: 0 7px;
}

.weather__pressure span,
.weather__humidity span,
.weather__winter-speed span,
.weather__winter-direction span,
.weather__precip span {
    display: inline-block;
    margin-left: 5px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 7px;

}

.weather__date {
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    font-size: 17px;
    font-weight: 900;
    color: #000;
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;
}

.weather__date span {
    font-size: 15px;
    font-weight: 700;
}